In [144]:
import pandas as pd
import numpy as np

In [145]:
df = pd.read_csv('./Data.csv', sep=',')

In [117]:
df

,firt name,last name,email,date of birth,phone number,address,postal code,price,amount,currency,order date,product name
0,W#ndy,V3n33r,wvnr0@jiathis.com,2/25/1978,+60 (713) 447.6315,34 Emmet Avenue,62652,65.17,37,Ringgit,8/9/2024,Cookies - Amaretto
1,J#ss@l!n,NaN,"jsomersett1@cisco,com",05-26-1979,+385 (962) 935-5565,9678 Mcguire Court,NaN,1.62,48,Kuna,6/27/2024,"Salsify, Organic"
2,N$@m,D\uFFFD\uFFFDr,ndufffdufffdr2@home_pl,NaN,+1 (816) 214-3377,"4466 Spenser Crossing, Suite 5",64082,42.64,37,dollar,4/13/2024,Wine - Rubyport
3,C$ll#tt#,Sm\u2066rt,NaN,12-17-1974,+595 (801) 725-3773,18 Armistice Alley,NaN,52.81,44,Guarani,11/19/2023,Cookie Double Choco
4,M#rcy,S$wbr$dg$,NaN,1982/06/25,+81 (355) 561-6735,4464 Golf View Drive,344-0061,38.71,45,Yen,2/20/2024,Pepper - Cubanelle
...,...,...,...,...,...,...,...,...,...,...,...,...
995,K#lby,Pl$tts,NaN,6/6/1973,NaN,"68 8th Parkway, Suite 10",76141,81.01,95,Rupee,3/18/2024,Longos - Chicken Caeser Salad
996,J%n!@,Al\u2066ls\u2066ndr\u2066v\u2066ch,jalulsundruvuchro$oracle.com,06-24-1984,+62 (962) 609.7059,12587 Terrace Derek,NaN,17.06,89,rupiah,10/13/2024,Leeks - Large
997,T@n@,D33rn3l3y,tdrnlyrp@admin.ch,1983/02/28,+62 (145) 861-3249,96 Stoughton Plaza,NaN,24.14,59,Rupiah,5/1/2024,Bread - Italian Roll With Herbs
998,S#b@st!#n,G$r$w$y,"sgrwyrq@bloomberg,com",1987/07/21,+46 (818) 771/2103,7298 Bashford Terrace,777 34777,24.43,100,Krona,11/3/2023,Cake - Night And Day Choclate
999,V!v!#n,L\uFFFD\uFFFDghr\uFFFDy,"vlufffdufffdghrufffdyrr@etsy,com",1974/01/31,+258 (598) 974-2128,Crownhardt Point 7744,NaN,75.74,40,metical,2/14/2024,"Potatoes - Instant, Mashed"

In [146]:
dfnew = pd.read_csv('./fix_to_surname.csv', sep=';')

In [147]:
df['last name'] = dfnew['last name']

In [148]:
df2 = df

In [149]:
df2['firt name'] = df['firt name'].str.replace('#','e').str.replace('@','a').str.replace('!','i').str.replace('$','o').str.replace('%','a').str.replace('-',' ')

In [150]:
df2['last name'] = df['last name'].str.replace('ðŸ˜€','o').str.replace('ðŸ˜‚','u').str.replace('ï¿½','i').str.replace('$','e').str.replace('.','').str.replace('3','a').str.capitalize()

In [127]:
df2

,firt name,last name,email,date of birth,phone number,address,postal code,price,amount,currency,order date,product name
0,Wendy,Brough,wvnr0@jiathis.com,2/25/1978,+60 (713) 447.6315,34 Emmet Avenue,62652,65.17,37,Ringgit,8/9/2024,Cookies - Amaretto
1,Jessalin,O'hare,"jsomersett1@cisco,com",05-26-1979,+385 (962) 935-5565,9678 Mcguire Court,NaN,1.62,48,Kuna,6/27/2024,"Salsify, Organic"
2,Noam,Bowton,ndufffdufffdr2@home_pl,NaN,+1 (816) 214-3377,"4466 Spenser Crossing, Suite 5",64082,42.64,37,dollar,4/13/2024,Wine - Rubyport
3,Collette,Hallede,NaN,12-17-1974,+595 (801) 725-3773,18 Armistice Alley,NaN,52.81,44,Guarani,11/19/2023,Cookie Double Choco
4,Mercy,Tatum,NaN,1982/06/25,+81 (355) 561-6735,4464 Golf View Drive,344-0061,38.71,45,Yen,2/20/2024,Pepper - Cubanelle
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Kelby,Brimelow,NaN,6/6/1973,NaN,"68 8th Parkway, Suite 10",76141,81.01,95,Rupee,3/18/2024,Longos - Chicken Caeser Salad
996,Jania,Oran,jalulsundruvuchro$oracle.com,06-24-1984,+62 (962) 609.7059,12587 Terrace Derek,NaN,17.06,89,rupiah,10/13/2024,Leeks - Large
997,Tana,De bernardis,tdrnlyrp@admin.ch,1983/02/28,+62 (145) 861-3249,96 Stoughton Plaza,NaN,24.14,59,Rupiah,5/1/2024,Bread - Italian Roll With Herbs
998,Sebastien,Harlow,"sgrwyrq@bloomberg,com",1987/07/21,+46 (818) 771/2103,7298 Bashford Terrace,777 34777,24.43,100,Krona,11/3/2023,Cake - Night And Day Choclate
999,Vivien,Belward,"vlufffdufffdghrufffdyrr@etsy,com",1974/01/31,+258 (598) 974-2128,Crownhardt Point 7744,NaN,75.74,40,metical,2/14/2024,"Potatoes - Instant, Mashed"

In [151]:
df2['email'] = df['email'].replace(np.nan, 'UNDEFINED').str.replace('$','@').str.replace(',com','.com')

In [153]:
df2['email']

0                     wvnr0@jiathis.com
1                 jsomersett1@cisco.com
2                ndufffdufffdr2@home_pl
3                             UNDEFINED
4                             UNDEFINED
                     ...
995                           UNDEFINED
996        jalulsundruvuchro@oracle.com
997                   tdrnlyrp@admin.ch
998               sgrwyrq@bloomberg.com
999    vlufffdufffdghrufffdyrr@etsy.com
Name: email, Length: 1000, dtype: object

In [56]:
df2['postal code'] = df['postal code'].replace(np.nan, 'UNDEFINED')

In [ ]:
df2